@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Figtree:ital,wght@0,300;0,900;1,400&family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@700&family=Roboto:ital,wght@0,400;1,100&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Figtree', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-family: 'ABeeZee', sans-serif;
    font-family: 'Figtree', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* body{
    margin: 0;
    background-image: url(../images/bg-b/lenny-kuhne-jHZ70nRk7Ns-unsplash.jpg);
    background-repeat: repeat-y;
} */
.header{
    background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
    border: thin solid black;
    width: 100%;
    height: 86px;
}
/* .fixed-top{
   position: fixed; 
   top: 0;
} */

.header nav a{
    font-size: 1.2rem;
    padding: 3px 13px;
    margin: 0 5px;
    border-radius: 8px;
    font-weight: bold;
    
    
}

.header nav a:hover{
    background-image: linear-gradient(90deg, #a00,#d00);
    border-radius: 8px;
    transition: .8s ease;
    
}
.sticky-top{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 100px;
}
.sticky-top figure{
    width: 70px;
    height: 70px;
    line-height: 85px;
}
.sticky-top figure img{
    width: 100%;
    height: 100%;
    animation: pulse 3s ease-in-out infinite;

}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .pulse {
    animation: pulse 1.5s linear infinite;
  }

  .logo-header{
    animation: pulse 3s ease-in-out infinite;
  }
.sticky-top nav a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.hero-image{
    background-image: url(../images/hero-image/clx-ab.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    /* background-position: 30% 1005; */
    background-repeat: no-repeat;
    

}
.hero-image div{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: inherit;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    
}
.hero-image div img{
    position: absolute;
    top:150px ;
    width: 8rem;

}

.intro{
    width: 90%;
    text-align: justify;
    margin: 20px auto;
    color: #000;
    font-size: 1.2rem;
}
.intro h1{
    margin-bottom: 20px;
}

.slides{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.slides-bg{
    background-color: rgba(0, 0, 0, 0);
}
.slide{
  /*   background-color: rgb(255, 255, 255); */
    width: 100%;
    height: auto;
}
.slide:nth-child(odd) {
    background-color: transparent;
}
.slide-tittle{
    background: #dbdbdb;
    padding: 10px;
    color: #383636;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    position: sticky;
    top: 80px;
    margin-top: 0;
    margin-bottom: 0;
   box-shadow:  10px 5px 8px 3px;
    text-transform: uppercase;
}

.slide-content{
    color: #000;
    padding: 0;
    height: auto;
}


.item{
    background-color: rgb(61, 11, 136);
    padding: 1rem;
    color: aliceblue;
    border:  4px solid brown;
    text-align: center;
    font-weight: bold;
}

.flex-item div{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.flex-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}
.flex-item {
    padding: 15px;
    text-align: justify;
}
.flex-item h3{
    font-weight: bold;
}
.flex-item p{
    font-size: 1.2rem;
}




@media (min-width:769px) {
    
    
    
    .flex-container{
        display: flex;
        align-items: center;
    }
    .flex-item{
        flex: 0 0 50%;
    }
    .flex-order-1{
        order: 1;
    }
    
}






























.modal-windows{
    background-color: rgb(242, 233, 233);
    color: rgb(12, 6, 6);
    position: fixed;
    top: 200px;
    bottom: 100px;
    left: 200px;
    right: 200px;
    opacity: 0.8;
    display: none;
}
.modal-windows:target{
   display: block; 
}

.box{
    background-color: salmon;
    padding:4px;
}

/* Formulario */

.contact-form{
    /* Variables */
   --form-text-color: #302e2e;
   --form-placeholder-color: #0c85f7;
   --form-success-color: #4caf50;
   --form-error-color: #f44336;
   --form-bg-color:transparent;
   --form-border-color: transparent;

   /* Estilos normales */
   background-color: var(--form-bg-color);
   border: thin solid var(--form-border-color);
   margin-left: auto;
   margin-right: auto;
   padding: 1rem;
   width: 100%;
   border-radius: .5rem;
}

.contact-form >*{
   display:block ;
   width: 100%;
   margin-bottom: 0.5rem;
   font-family: sans-serif;
   font-size: 1rem;
   padding: .5rem;
   border-radius: .5rem;
   color: var(--form-text-color);
   caret-color: var(--form-placeholder-color);
}

.contact-form > *::placeholder{
color: var(--form-placeholder-color);

}
.contact-form >*:invalid{
   border: thin solid var(--form-error-color);
}


.contact-form input[type="submit"]{
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   background-color: var(--form-placeholder-color);
   font-weight: bold;
   font-size: 1.25rem;
   color: white;
   
}
.contact-form input[type="submit"]:hover{
cursor:pointer ;
opacity: .5;
}
.contact-form textarea{
   resize: none;
}
.text-form{
    text-align: center;
}


.footer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.footer{
    background: linear-gradient(220.55deg, #A531DC 0%, #4300B1 100%);
    width: 100%;
    height: auto; 
 
}
.box-contact{
    width: 25rem;
    height: auto;
    margin: 2rem;
}
.formulario{
    color: #fff;
}
.formulario h5{
    margin-left: 20px;
}
.contact-form label{
    color: #fff;
    
}

.footer nav{
    font-size: 1.2rem;
    color: #fff;
    
}



.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.redes a {
    width: 2.3rem;
    margin: .8rem auto;
    
}
.redes a:hover{
transform: scale(1.09);
}
.redes a img{
    width: 100%;
    
}


.distributor-autorized img{
    width: 90%;
    height: auto;
    
    
}
.distributor-autorized{
        
        width: 100%;
        height: auto;
        
        
}